body {
    background-color: chartreuse;
    font-size: 30px;
    font-family: 'Comic Neue', cursive;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: aquamarine;
    margin: 20px;
}
header{
    padding: 50px;
    border: 4px salmon;
}

header h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Comic Neue', cursive;
}

.col {
    border: 4px solid slategray;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.col h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Comic Neue', cursive;
}

main H3 {
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

footer {
    padding: 40px;
    text-align: center;
    border: 4px solid salmon;
}

@media(min-width: 768px){
   
   #container {
       width: 90%;
       margin: 20px;
       border-radius: 20px;
   }

    .col {
       width: 65%;
       margin: 20px auto;
   }
    
    .col img{
        width: 30px;
    }
}

@media(min-width: 1024px) {
    #flex {
        display:flex;
    }
    .col {
        margin: 20px;
    }
    .col img {
        width: 50%;
    }
}